<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/bootstrap-grid.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-utilities.css' />
<link rel='stylesheet' href='/stylesheets/fnl.css' />
